h1 {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.notes {
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
}

button.place-order {
  background: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all var(--transition-duration);
  margin-top: 12px;
  margin-left: auto;
  display: block;
}

button:hover {
  background: var(--primary-hover-color);
}
