.main-paragraph{
    margin-top: 19px;
    color: var(--secondary-text);
}
.Your-E-Mail-Address{
    margin-top: 19px;
}
.email::placeholder {
    color: black;
    opacity: 1;
    padding: 10px;
} 
.email-container{
    display: flex;
}
.email-1{
    flex: 1;
    padding: 10px;
    margin-top: 20px;
    color:var(--secondary-text);
}
.email-box{
    flex: 3;
}
.email{
    margin-top: 10px;
    width:70%;
    height: 50px;
    border: none;
    outline: none; 
    border: 1px solid var(--secondary-text); 
    border-radius: 6px; 
    font-size: 15px;
}
.email-text{
    margin-top: 10px;
    color: var(--secondary-text);
}
.button-container{
    display: flex;
    gap: 30px;
}
.btn-back,.btn-continue{
    flex: 2;
}
.back{
    margin: 20px;
    background-color: f7f7f7;
    color: black;
    border: none;
    margin-top: 10px;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}
.continue{
    margin: 20px;
    background-color: black;
    color: #f7f7f7;
    border: none;
    margin-top: 10px;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}
.back:hover{
    background-color: var(--primary-hover-color);
}
.continue:hover{
    background-color: var(--primary-hover-color);
}
.btn-back{
        text-align: left !important;
    }
.btn-continue{
        text-align: right !important;
    }
