form {
  margin: 32px 0;
}

.button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  margin-top: 10px;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover {
  background-color: var(--primary-hover-color);
}
.btn {
  text-align: right !important;
}
